@function p2r($size){
  @return $size / 15 * 1rem;
}

*{
  padding: 0;
  margin: 0;
}
.bg{
  padding: 0;
  margin: 0;
  height: 100vh;
  background: url('../images/background-image.png') no-repeat center center;
}

.header-container {// 头部样式
  position: relative;
  text-align: center;
  height: p2r(80);
  span.title{
    display: inline-block;
    margin-top: p2r(16);
    width: 737px;
    height: 40px;
    background: url('../images/header.png') no-repeat;
  }
  .handle{
    position: absolute;
    top: 20px;
    right: 16px;
    color: #f7f7f7;
    .btn{
      display: inline-block;
      cursor: pointer;
      width: 50px;
      height: 30px;
      background: url('../images/sy.png') no-repeat;
      vertical-align: middle;
    }
    .open{
      background-position: 0 0;
    }
    .close{
      background-position: 0 -30px;
    }
  }
}

.main{
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 0 auto;
  color: #f7f7f7;
  font-size: 14px;
  .statement{
    width: 39%;
  }
  .list{
    position: relative;
    width: 60%;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #08509D;
    &::before{
      content: '';
      position: absolute;
      width: 250px;
      height: 50px;
      background: url('../images/border.png') no-repeat;
      top: -8px;
      left: -2px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 44px;
      height: 44px;
      background: url('../images/border.png') no-repeat -359px 0;
      top: -2px;
      right: -2px;
    }
    .line:nth-child(1){
      position: absolute;
      width: 44px;
      height: 44px;
      background: url('../images/border.png') no-repeat 0 -222px;
      bottom: -2px;
      left: -2px;
    }
    .line:nth-child(2){
      position: absolute;
      width: 33px;
      height: 33px;
      background: url('../images/border.png') no-repeat -368px -226px;
      bottom: -2px;
      right: -2px;
    }
    .header{ // 
      display: flex;
      justify-content: space-between;
      line-height: p2r(50);
      .my-select{
        width: p2r(104);
        background-color: rgba(40,43,73,0.9);
        color: #f7f7f7;
        border: 0;
        outline: none;
        height: p2r(26);
        line-height: p2r(26);
        &:nth-child(2){
          margin: 0 10px;
        }
      }
    }
    .table-container{
      list-style: none;
      // max-height: 600px;
      height: 75vh;
      .table-item{
        display: flex;
        text-align: left;
        line-height: p2r(34);
        &:nth-child(1){
          background-color: rgba($color: #202138, $alpha: 0.9);
        }
        &:nth-child(n + 2){
          line-height: p2r(40);
          border-bottom: 1px solid #24253C;
        }
        div{
          &:nth-child(1){
            width: p2r(120);
          }
          &:nth-child(2){
            width: p2r(140);
          }
          &:nth-child(3){
            width: p2r(197);
          }
          &:nth-child(4){
            width: p2r(310);
          }
          &:nth-child(5){
            width: p2r(90);
          }
        }
        .cell{
          padding: 0 6px;
        }
        &.severity{
          background-color: rgba($color: #B8444A, $alpha: 0.9);
        }
      }
    }
    .paging{
      padding-top: p2r(8);
      text-align: center;
      span{
        display: inline-block;
        background-color: rgba(40,43,73,0.9);
        color: #f7f7f7;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
  .title{
    color: #177BE6;
    font-weight: 700;
    font-size: 18px;
  }
  .echart-box{
    position: relative;
    padding-left: p2r(10);
    border: 1px solid #08509D;
    margin-bottom: p2r(10);
    &:nth-last-child(1){
      margin: 0;
    }
    &::before{
      content: '';
      position: absolute;
      width: 250px;
      height: 50px;
      background: url('../images/border.png') no-repeat;
      top: -8px;
      left: -2px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 44px;
      height: 44px;
      background: url('../images/border.png') no-repeat -359px 0;
      top: -2px;
      right: -2px;
    }
    .line:nth-child(1){
      position: absolute;
      width: 44px;
      height: 44px;
      background: url('../images/border.png') no-repeat 0 -222px;
      bottom: -2px;
      left: -2px;
    }
    .line:nth-child(2){
      position: absolute;
      width: 33px;
      height: 33px;
      background: url('../images/border.png') no-repeat -368px -226px;
      bottom: -2px;
      right: -2px;
    }
    .map-echar{
      width: 100%;
      // height: p2r(310);
      height: 30vh;
    }
    .index-echar{
      position: relative;
      width: 100%;
      height: 23vh;
    }
    .usability{
      position: relative;
      width: 100%;
      height: 23vh;
    }
  }
}